.con1{
    width: 200px;
    height: 180px;
    background-color: aqua;
    color: black;
     padding: 20px;
     margin: 8px;
}
.con2{
    width: 200px;
    height: 180px;
    background-color:blueviolet;
    color: white;
    padding: 20px;
    margin: 8px;
}
.con3{
    width: 200px;
    height: 180px;
    background-color: coral;
    color: white;
     padding: 20px;
     margin: 8px;
}